Cython==0.29.13
pushbullet.py==0.11.0
torch
tensorboardX
torchvision
matplotlib==3.1.1
numpy==1.17.1
pydensecrf==1.0rc3
pushbullet.py==0.11.0
tqdm==4.35.0
scipy==1.3.1
Pillow==6.1.0
polyaxon-client==0.5.6
